:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #fff;
  --white-opacity-text-color: rgba(255, 255, 255, 0.6);

  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;

  --logo-color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
}
.header {
  background-color: var(--primary-background-color);
}
.nav,
.contact-item {
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
}
/*logo*/
.logo-nav {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-color);
}
/*site nav*/
.nav-link .current {
  color: var(--accent-color);
}
.nav-link {
  color: var(--primary-text-color);
}
 .nav-link:hover,
 .nav-link:focus {
  color: var(--accent-color);
}

/*contact-nav*/
.contact .link[href^='mailto'],
.contact .link[href^='tel'] {
  color: var(--secondary-text-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/*main*/
.hero {
  text-align: center;
  background-color: var(--dark-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  text-transform: uppercase;
}

.button {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  font-weight: 700;

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}
.section-title {
  color: var(--primary-text-color);
  Weight: 700;
  Size: 36px; 
  Line-height: 1.71; 
  letter-spacing: 0.03em;
  Align: Center;

}

.title {
  color: var(--primary-text-color);
}

.work-list .title {
  color: var(--primary-text-color);
}
.team-list .title {
  color: var(--primary-text-color);
  font-style: 500;
  font-size: 16px;
  line-height: 1.18;
  align: Center;
  letter-spacing: 0.03em;
}
.team-position {
  font-style: 400;
  font-size: 16px;
  line-height: 1.18;
  align: Center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  
}
/*button*/
.button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* Assets */

.current {
  color: var(--accent-color);
}

.title-hidden {
  display: none;
}
/*Portfolio*/

.prtf-button {
  font-family: inherit;
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: 500;

  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.prtf-button:hover,
.prtf-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.work-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--primary-text-color);
}
.work-desc {
  font-style: 400;
  font-size: 16px;
  line-height: 1.88;
  letter- spacing: 0.03em;
  color: var(---secondary-text-color)
}

/* Footer */
.footer {
  background-color: var(--dark-background-color);
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-footer {
  color: var(--white-text-color);
}

.address {
  font-style: normal;
}

.address-link {
  color: var(--white-text-color);
}

.address-link[href^='mailto'],
.address-link[href^='tel'] {
  color: var(--white-opacity-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
